<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="infoReminder" 
             type="InfoReminder.Client.Configuration.InfoReminderSection, info-reminder-client"  
             allowLocation="true" 
             allowDefinition="Everywhere" />
  </configSections>
  <infoReminder>
    <clientCredentials
      userId="1"
      username="Enter Username"
      authToken="Enter Authentication Token">
    </clientCredentials>
  </infoReminder>
</configuration>